        <section id="page-header" class="contact-header">
            <h2>#let's talk</h2>
            <p>Leave a Message, we love to hear from you!</p>
            
        </section>

        <section id="form-details">
            <form>
                <span>LEAVE A MESSAGE</span>
                <h2>We love to hear from you</h2>
                <input type="text" placeholder="Your Name">
                <input type="text" placeholder="E-mail">
                <input type="text" placeholder="Subject">
                <textarea name="" id="" cols="30" rows="10" placeholder="Your message"></textarea>
                <button class="normal">Submit</button>
            </form>
            <div class="elfsight-app-be34c9c4-6385-464c-9a67-9eb605fb4fab"></div>

     
        </section>