<section id="prodetails" class="section-p1">
  <div class="single-pro-image">
    <img
      src="assets/img/bags/Handbag/james-ree-ZmeFtu11Hpc-unsplash.jpg"
      alt="#"
      width="100%"
      id="MainImg"
    />
    <div class="small-img-group">
      <div class="small-img-col">
        <img
          src="assets/img/bags/Handbag/james-ree-ZmeFtu11Hpc-unsplash.jpg"
          width="100%"
          class="small-img"
          alt=""
        />
      </div>
      <div class="small-img-col">
        <img
          src="assets/img/bags/Handbag/james-ree-ZmeFtu11Hpc-unsplash.jpg"
          width="100%"
          class="small-img"
          alt=""
        />
      </div>
      <div class="small-img-col">
        <img
          src="assets/img/bags/Handbag/james-ree-ZmeFtu11Hpc-unsplash.jpg"
          width="100%"
          class="small-img"
          alt=""
        />
      </div>
      <div class="small-img-col">
        <img
          src="assets/img/bags/Handbag/james-ree-ZmeFtu11Hpc-unsplash.jpg"
          width="100%"
          class="small-img"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="single-pro-details">
    <h6>Home / bag</h6>
    <h4>Fashion bag</h4>
    <h2>$149.99</h2>
    <select>
      <option>Select Size</option>
      <option>XXL</option>
      <option>XL</option>
      <option>L</option>
      <option>M</option>
      <option>S</option>
    </select>
    <input type="number" value="1" />
    <button class="normal">Add to Cart</button>
    <h4>Product Description</h4>
    <span>
      This natural fiber has an absorbent quality and breathes well. It doesn’t
      hold odors and wrinkles easily. T-shirts are generally made of high thread
      count cotton which are lightweight cotton/polyester blend usually used for
      athletic
    </span>
  </div>
</section>

<section id="product1" class="section-p1">
  <h2>Related Products</h2>
  <p>Summer Collection New Modern bags Design</p>
  <div class="pro-container">
    <div class="pro" onclick="window.location.href='sproduct.html';">
      <img
        src="assets/img/bags/Handbag/pexels-evg-kowalievska-1381562.jpg"
        alt=""
      />
      <div class="des">
        <span>Adidas</span>
        <h5>fashion bag</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>$78</h4>
      </div>
      <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
      <img
        src="assets/img/bags/Handbag/sam-hojati-MJEvLiNbYRg-unsplash.jpg"
        alt=""
      />
      <div class="des">
        <span>Adidas</span>
        <h5>fashion bag</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>$78</h4>
      </div>
      <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
      <img
        src="assets/img/bags/Handbag/arno-senoner-oCXVxwTFwqE-unsplash.jpg"
        alt=""
      />
      <div class="des">
        <span>Adidas</span>
        <h5>fashion bag</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>$78</h4>
      </div>
      <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
      <img
        src="assets/img/bags/Handbag/pexels-evg-kowalievska-1381562.jpg"
        alt=""
      />
      <div class="des">
        <span>Adidas</span>
        <h5>fashion bag</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>$78</h4>
      </div>
      <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
    </div>
  </div>
</section>
